*{margin: 0;padding: 0;}
/*input{-webkit-appearance:none;}*/
html, body {position: relative;height: 100%;}
body{font-family:microsoft yahei;color:#000;margin: 0;padding: 0;background-color: #eeeeee;}
ul li{list-style-type: none;}
em,i,small{font-style: normal;}
/*音乐*/
.mus{position: fixed;width: 8%;right: 2%;top:1%;z-index: 5;}
.yue{position: absolute;top:0;left: 0;z-index: -1;opacity: 0;}

.loading{position: absolute;width: 100%;height: 100%;top:0;left: 0;z-index: 5;background-color: #000000;display: block;}
.line_c{position: absolute;width: 400px;height: 12px;left: 50%;margin-left: -200px;border:2px #132e5b solid;top:373px;border-radius: 12px;overflow: hidden;}
.line{position: absolute;width: 400px;height: 12px;background-color: #132e5b;border-radius: 12px;top:0;left: -100%;}
.loading p{color: #ffffff;font-size: 24px;text-align: center;position: absolute;width: 100%;top:569px;left: 0;font-weight: 700;}
/*外部框架定位*/
.h832{ width:750px; height:975px;}
.innerDiv{ width:100%; height:100%; position:relative;border-top:1px rgba(255,255,255,1) solid;border-bottom: 1px rgba(255,255,255,1) solid;}
.innerDiv img{ position:absolute;}
.page{width:750px;overflow:hidden;position: absolute;left: 50%;margin-left: -375px;}

/*添加内容*/

/*public*/
.wrap{width: 750px;margin: 0 auto 0;height: 100%;}

/*=====================================*/
/*<!-- 登陆页面 -->*/
/*=====================================*/
.sign-in-wrap{background: url(../img/soin-in-bg.png) center center no-repeat;margin-top: -50px;}
.sign-in{position: relative;width: 750px;margin: 0 auto 0;height: 100%;overflow: hidden;display: block;}
.logo{display: block;margin: 0 auto 0;padding-top: 70px;}
.sign-in-mask{width: 750px;height: 853px;margin: 300px auto 0;position: relative;}
.sign-in-content{width: 635px;box-sizing:border-box;-webkit-box-sizing:border-box;padding: 75px 20px;margin: 0 auto 0;border-radius: 15px;background-color: #ffffff;box-shadow: 5px 4px 6px #000;-webkit-box-shadow: 2px 4px 6px #000;position: relative;}
.sign-in-content p{width: 550px;height: 95px;box-sizing:border-box;-webkit-box-sizing:border-box;padding: 22px 24px;border:1px #7d7d7d solid;margin: 30px auto 0;border-radius: 10px;overflow: hidden;position: relative;}
.sign-in-content p span{display: inline-block;width: 68px;height: 55px;background: url(../img/line.png) right center no-repeat;position: relative;float: left;}
.sign-in-content p span img{position: absolute;top:50%;margin-top: -27.5px;left: 0;}
.sign-in-content p input{font-size: 33px;height: 55px;float: left;border:0;margin-left: 20px;width: 410px;outline: none;}
.sign-in-content p small{position: absolute;font-size: 25px;right: 10px;padding-left: 40px;background: url(../img/notice-icon.png) left center no-repeat;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);display: none;}
.sign-in-btn{width: 550px;height: 95px;display: block;margin: 50px auto 0;background-color: #0b4268;font-size: 37px;border-radius: 15px;color: #ffffff;outline: none;}
.soin-in-logo{display: block;margin: 80px auto 0;}

/*=====================================*/
/*<!-- 下订单 -->*/
/*=====================================*/
.order{position: relative;width: 750px;margin: 0 auto 0;display: block;padding-bottom: 150px;}
.order-list{width: 750px;margin: 0 auto 0;background-color: #ffffff;display: block;}
.order-list li{box-sizing:border-box;-webkit-box-sizing:border-box;padding: 30px 30px;font-size: 32px;color: #858686;border-bottom: 2px #e3e3e3 solid;position: relative;}
.order-list li a{text-decoration: none;color: #858686;display: block;}

.order-date-bg{display: none;}
.order-date{width: 750px;margin: 0 auto 0;background-color: #ffffff;display: block;}
.order-date li{box-sizing:border-box;-webkit-box-sizing:border-box;padding: 30px 30px;font-size: 32px;color: #858686;border-bottom: 2px #e3e3e3 solid;position: relative;}
.order-date li p{text-align:justify;font-size: 32px;}
.order-date li p span{color: #434343;display: inline-block;text-align: center;}
.order-date li p strong{color:#0b4268;font-weight: normal;}
.order-date li p input{width: 395px;height: 64px;background-color: #e2e2e2;font-size: 32px;color: #434343;box-sizing:border-box;-webkit-box-sizing:border-box;padding-left: 20px;border:0;}
.order-date li label{margin-top: 30px;display: block;}
.order-date li label small{display: inline-block;border:1px #959595 solid;padding: 15px 13px;font-size: 32px;margin-right: 20px;}
.order-date li label .active{border:1px #37a7e9 solid;}
.chioceColor{overflow: hidden;margin-top: 15px;}
.chioceColor span{box-sizing:border-box;-webkit-box-sizing:border-box;border:1px #959595 solid;float: left;padding: 15px 13px;color: #959595;font-size: 32px;margin-right: 8px;margin-top: 25px;}
.chioceColor .active{border:1px #37a7e9 solid;}
.order em{display: inline-block;width: 1em;}
.chioceColor span i{display: inline-block;width: 31px;height: 31px;border-radius: 5px;position: relative;top:3px;}
.order-date-btn{display: block;margin: 30px auto 0;background-color: #1a689d;width: 694px;height: 94px;border-radius: 10px;font-size: 37px;color: #ffffff;}

/*=====================================*/
/*<!-- 订单查询 -->*/
/*=====================================*/
.query{position: relative;width: 750px;margin: 0 auto 0;padding-bottom: 150px;display: block;}
.query-nav{width: 750px;height: 115px;margin: 0 auto 0;display: -webkit-box;display: box;}
.query-nav li{box-sizing:border-box;-webkit-box-sizing:border-box;position: relative;box-flex: 1;-webkit-box-flex: 1;line-height: 115px;text-align: center;font-size: 32px;color: #434343;}
.query-nav .query-nav-active{color: #0b4268;border-bottom: 7px #0b4268 solid;font-weight: 800;transition:0.5s all;-wei-transition:0.5s all;}
.query-content{background-color: #eeeeee;padding-bottom: 30px;}
.query-list-style{width: 750px;margin: 0 auto 0;display: none;}
.query-list-style li{padding: 25px 0;border-bottom:2px #e3e3e3 solid;border-top:2px #e3e3e3 solid;box-sizing:border-box;-webkit-box-sizing:border-box;overflow: hidden;margin-top: 20px;background-color: #ffffff;}
.query-list-style li p{font-size: 32px;color: #ff0000;padding-left: 43px;background: url(../img/notice-icon.png) left center no-repeat;}
.query-list-style li textarea{width: 688px;height: 275px;box-sizing:border-box;-webkit-box-sizing:border-box;border-radius: 15px;border:1px #434343 solid;font-size: 32px;padding: 25px;outline: none;}
.query-list-img-bg{box-sizing:border-box;-webkit-box-sizing:border-box;position: relative;width: 168px;height: 168px;border:2px #eeeeee solid;float: left;}
.query-list-img-bg img{position: absolute;height: 95%;top:50%;left: 50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);}

/*modfiy 2018-01-29*/
.query-list-message{box-sizing:border-box;-webkit-box-sizing:border-box;position: relative;width: 100%;height: 168px;padding: 0 25px;overflow: hidden;margin-bottom: 20px;}
.query-list-message h5{font-weight: 500;font-size: 32px;color: #434343;}
.query-list-message h3{font-weight: 500;font-size: 23px;color: #434343;position: absolute;bottom: 5px;left: 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 100%;box-sizing:border-box;-webkit-box-sizing:border-box;padding-left: 33px;background: url(../img/notice-icon2.png) left center no-repeat;}
.query-list-message i{font-size: 23px;color: #7d7d7d;display: block;margin-top: 10px;}
.query-list-message h4{font-weight: 500;font-size: 32px;color: #434343;position: absolute;bottom: 5px;left: 25px;}
.query-list-message a{font-weight: 500;font-size: 32px;color: #434343;position: absolute;bottom: 5px;right: -120px;text-decoration: none;}
.query-list-message .btn-seeData{position: absolute;bottom: 5px;right: 25px;font-size: 30px;color: #00a0e9;padding-right: 30px;background: url(../img/icon14.png) right center no-repeat;}
.query-list-message p{font-size: 23px;color: #7d7d7d;display: block;margin-top: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.query-list-message .edit{font-weight: 500;font-size: 32px;color: #00b7ee;position: absolute;bottom: 5px;right: 0px;text-decoration: underline;padding-left: 35px;background: url(../img/icon10.png) left center no-repeat;}
.query-list-state{position: absolute;top:0;right: 20px;}
.query-list-state .deteleBtn{position: absolute;height: 168px;line-height: 168px;color: #ff0000;font-size: 32px;width: 100px;text-align: center;}
.query-state-btn{font-size: 23px;padding: 10px 15px;border-radius: 20px;border:0;outline: none;color: #ffffff;}
.query-state-1{background-color: #72c73e;}
.query-state-2{background-color: #ff6c00;}
.query-state-3{background-color: #ff0000;}
.no-information{width: 750px;margin: 0 auto 0;background-color: #ffffff;padding: 100px 0;display: none;}
.no-information img{display: block;margin: 0 auto 0;}
.query-not-through-reason{display: none;background-color: #ffffff;}

.query-product{display: none;}
.product-item{padding: 20px 25px;overflow: hidden;}
.product-img{box-sizing:border-box;-webkit-box-sizing:border-box;width: 90px;height: 90px;border:2px #eeeeee solid;    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;float: left;}
.product-img img{height: 85%;}
.product-item .product-words{font-size: 28px;height: 90px;line-height: 90px;color: #535353;float: left;margin-left: 20px;}
.btn-stop{display: block;text-align: right;font-size: 30px;color: #00a0e9;padding-right: 30px;background: url(../img/icon15.png) right center no-repeat;margin-bottom: 25px;margin-right: 25px;}
.remarks{padding: 20px 20px 0;font-size: 24px;color: #7d7d7d;}


/*=====================================*/
/*<!-- 个人中心 -->*/
/*=====================================*/
.personal-center{position: relative;width: 750px;margin: 0 auto 0;padding-bottom: 150px;display: block;}
.personal-center-banner{width: 750px;height: 481px;background: url(../img/personal-center-banner.jpg) center center no-repeat;position: relative;}
.personal-center-header{position: absolute;width: 178px;height: 178px;left: 50%;top:50%;margin: -179px 0 0 -89px;}
.personal-center-header img{width: 178px;height: 178px;display: block;border-radius: 100%;margin: 0 auto 0;}
.personal-center-header p{text-align: center;font-size: 41px;color: #ffffff;margin-top: 20px;}
.personal-center-message{width: 750px;margin: 0 auto 0;background-color: #ffffff;}
.personal-center-message li{padding: 35px 25px;border-bottom:1px #e3e3e3 solid;box-sizing:border-box;-webkit-box-sizing:border-box;display: -webkit-box;display: box;}
.personal-center-message li span{font-size: 32px;color: #313131;}
.personal-center-message li div{position: relative;}
.personal-center-message li div img{position: absolute;top:50%;left: 50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);}
.personal-center-flex-1{box-flex: 1;-webkit-box-flex: 1;height: 40px;text-align: center;}
.personal-center-flex-3{box-flex: 3;-webkit-box-flex: 3;width: 390px;}
.personal-center em{display: inline-block;width: 1em;}
.personal-modify-bg{position: relative;width: 750px;margin: 0 auto 0;display: none;}
.personal-modify{position: relative;width: 750px;margin: 0 auto 0;padding-top: 30px;}
.personal-modify li{padding: 30px 55px;background-color: #ffffff;margin-top: 30px;}
.personal-modify span{font-size: 32px;color: #313131;padding-left: 65px;background: url(../img/icon09.png) left center no-repeat;display: inline-block;height: 55px;line-height: 55px;}
.personal-modify li input{width: 350px;margin-left: 20px;font-size: 45px;color: #313131;border:0;outline: none;}
.personal-modify-btn{display: block;width: 674px;height: 94px;background-color: #1a689d;font-size: 37px;margin: 100px auto 0;border-radius: 20px;color: #ffffff;}

.modify-success{width: 654px;position: relative;margin: 0 auto 0;padding: 40px 20px;border-radius: 25px;background-color: #ffffff;-webkit-box-shadow: rgba(0,0,0,0.3) 0px 0px 30px;box-shadow: rgba(0,0,0,0.3) 0px 0px 30px;top:250px;display: none;}
.modify-success h4{text-align: center;font-size: 42px;}
.modify-success p{font-size: 32px;color: #2c2c2c;text-align: center;margin: 20px auto 0;}
.modify-success hr{display: block;margin: 40px auto 0;}
.modify-success-btn{font-size: 37px;color: #1a689d;display: block;margin: 30px auto 0;background-color: rgba(0,0,0,0);border:0;outline: none;}

/*=====================================*/
/*<!-- 购物车 -->*/
/*=====================================*/
.shopping-cart{position: relative;width: 750px;margin: 0 auto 0;padding-bottom: 150px;display: block;}
.shopping-title{position: relative;padding: 20px 30px;background-color: #dcdcdc;overflow: hidden;line-height: 80px;}
.shopping-title span{color: #434343;font-size: 32px;font-weight: 600;}
.addBtn{float: right;width: 199px;height: 80px;border-radius: 20px;background-color: #ff6c00;font-size: 32px;border:0;outline: none;color: #ffffff;}
.shopping-cart-btn{display: block;width: 674px;height: 94px;background-color: #1a689d;font-size: 37px;margin: 30px auto 0;border-radius: 20px;color: #ffffff;}
.successBg{position: relative;width: 750px;margin: 0 auto 0;padding-top: 300px;display: none;}
.icon13{display: block;margin: 0 auto 0;}



/*=====================================*/
/*<!-- 订单维护 -->*/
/*=====================================*/
.maintain{position: relative;width: 750px;margin: 0 auto 0;padding-bottom: 115px;padding-top: 1px;}
.maintain-style{position: relative;width: 750px;margin: 0 auto 0;display: none;}
.maintain-style li{padding: 15px 25px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow: hidden;background-color: #ffffff;margin-top: 20px;}
.maintain-style li .lineColor{border:1px #dcdcdc solid;margin: 20px auto 0;float: left;width: 100%;height: 1px;}
.maintain-style li .query-list-message{width: 350px;}
.maintain-executable-state-1{background-color: #00b7ee;position: relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.maintain-executable-state-2{background-color: #f8b551;position: relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.maintain-executable-state-3{background-color: #80c269;position: relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.maintain-style .maintain-data-btn{margin: 15px auto 10px;float: left;font-size: 26px;color: #434343;text-align: right;width: 100%;text-decoration: none;}
.maintain-date-wrap{display: none;}
.maintain-executable-date{width: 750px;margin: 0 auto 0;padding: 50px 0;position: relative;background-color: #ffffff;}
.maintain-executable-date-img{box-sizing:border-box;-webkit-box-sizing:border-box;position: relative;width: 168px;height: 168px;border:2px #eeeeee solid;margin: 0 auto 0;}
.maintain-executable-date-img img{position: absolute;height: 95%;top:50%;left: 50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);}
.maintain-executable-date{text-align: center;}
.maintain-executable-date h5{text-align: center;margin: 20px auto 0;font-size: 32px;color: #434343;font-weight: 500;}
.maintain-executable-date span{display: block;text-align: center;font-size: 22px;color: #7d7d7d;margin-top: 30px;}
.maintain-executable-date p{text-align: center;font-size: 27px;color: #7d7d7d;max-width: 650px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin: 10px auto 0;}
.maintain-executable-date strong{padding-left: 43px;background: url(../img/notice-icon.png) left center no-repeat;font-size: 27px;color: #ff0000;display: inline-block;margin-top: 20px;max-width: 650px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.maintain-executable-date small{font-size: 27px;color: #606060;display: inline-block;margin-top: 20px;max-width: 650px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.maintain-executable-date .complete-btn{line-height: 37px;background-color: #80c269;font-size: 23px;border-radius: 15px;display: block;margin: 10px auto 0;color: #ffffff;width: 106px;height: 37px;}

.maintain-executable-date-btn{display: block;width: 674px;height: 94px;background-color: #00b7ee;font-size: 37px;margin: 60px auto 0;border-radius: 20px;color: #ffffff;}
/*<!-- 上传图片 -->*/
.maintain-upload{width: 750px;margin: 0 auto 0;position: relative;padding-top:50px;display: none;}
.maintain-upload-content{width: 684px;margin: 0 auto 0;-webkit-box-shadow: rgba(0,0,0,0.3) 0px 0px 30px;box-shadow: rgba(0,0,0,0.3) 0px 0px 30px;background-color: #ffffff;box-sizing:border-box;-webkit-box-sizing:border-box;padding: 20px 0;position: relative;}
.maintain-upload-img{width: 600px;height: 380px;margin: 30px auto 0;background: url(../img/icon11.png) center center no-repeat;position: relative;}
.upload-btn{display: block;width: 457px;height: 75px;margin: 50px auto 0;border-radius: 20px;background-color: #0b4268;font-size: 32px;border:0;outline: none;color: #ffffff;}
.maintain-add{width: 547px;margin: 30px auto 0;}
.maintain-add p{position: relative;overflow: hidden;margin-top: 20px;}
.maintain-add p span{font-size: 32px;float: left;}
.maintain-add p textarea{font-size: 32px;width: 395px;border:3px #ccc solid;float: left;height: 40px;}
.maintain-add p input{font-size: 32px;width: 390px;border:3px #ccc solid;float: left;height: 40px;}
.maintain-add p img{position: absolute;width: 35px;height: 35px;right: 25px;top:8px;}
.maintain-add p i{font-size: 30px;float: left;}
.maintain-add p select{font-size: 30px;float: left;width: 390px;border:3px #ccc solid;}

#file{position: absolute;width: 100%;height: 100%;top:0;left: 0;opacity: 0;}
#clipArea{margin: 20px;height: 380px;}
.uploadImg{width: 600px;position: absolute;top:0;left: 0;}
.maintain-complete-imgbg{width: 672px;position: relative;margin: 30px auto 0;}
.maintain-complete-imgbg .complete-img{width: 100%;}
.maintain-complete-imgbg .icon12{position: absolute;top:10px;left: -12px;}

/*=====================================*/
/*<!-- 用户登记资料 -->*/
/*=====================================*/
.registration{width: 750px;margin: 0 auto 0;position: relative;}
.registration li{box-sizing:border-box;-webkit-box-sizing:border-box;padding: 35px 25px;border-bottom: 2px #e3e3e3 solid;display: -webkit-box;display: box;background-color: #ffffff;}
.registration li .name-item{box-flex: 1;-webkit-box-flex: 1;}
.registration li .push-item{box-flex: 4;-webkit-box-flex: 4;position: relative;}
.sao_icon{position: absolute;right: 0;top:0;width: 37px;height: 37px;}
.registration li span{font-size: 32px;}
.registration li input{font-size: 32px;width: 100%;border:0;outline: none;}
.registration li textarea{font-size: 32px;width: 100%;height: 120px;border:0;outline: none;}
.registration li em{display: inline-block;width: 1em;}
.btn-registration{width: 550px;height: 95px;display: block;margin: 60px auto 60px;background-color: #0b4268;font-size: 37px;border-radius: 15px;color: #ffffff;outline: none;}




/*footer-nav*/
.footer-nav{position: fixed;width: 750px;height: 115px;left: 50%;margin-left: -375px;bottom: 0;box-sizing:border-box;-webkit-box-sizing:border-box;background-color: #ffffff;border-top:2px #e5e5e5 solid;display: -webkit-box;display: box;}
.footer-nav .footer-nav-item{box-sizing:border-box;-webkit-box-sizing:border-box;position: relative;box-flex: 1;-webkit-box-flex: 1;display: -webkit-box;display: box;-webkit-box-pack: center;-webkit-box-align: center;}
.footer-nav .footer-nav-item img{width:109px;height: 79px;}
.footer-nav .footer-nav-itemActive{background-color: #0b4268;}
.footer-nav-imgActive{display: none;}
.footer-nav .footer-nav-itemActive .footer-nav-img{display: none;}
.footer-nav .footer-nav-itemActive .footer-nav-imgActive{display: block;}





/*other*/
.icon03{background: url(../img/icon03.png) right center no-repeat;}
.line2{background: url(../img/line2.png) left center no-repeat;}
.line3{background: url(../img/line3.png) right center no-repeat;}
.icon04{position: absolute;top:30px;right: 40px;}




/*================================*/
/*===========动画效果=============*/
/*================================*/

.rotate{-webkit-animation: rotate 3s linear both infinite;}

/*rotate*/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}













